@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

label {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: white;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

#logoText {
    margin-top: 20%;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    color: white;
}

#message-container {
    width: 100%;
    max-width: 1200px;
}

#message-container div {
    border-top: 0.5px solid black;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    width: 100%;
    background-color: rgb(86, 157, 204);
    padding: 5px;
}

#send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    max-width: 1200px;
    width: 80%;
    display: flex;
}

#message-input {
    flex-grow: 1;
}